{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
    <script>
    var copied = false;
    function copyPrivateKey() {
        copied = true;
        var containerId = 'privateKey';
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerId));
            range.select().createTextRange();
            document.execCommand("copy");

        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerId));
            window.getSelection().addRange(range);
            document.execCommand("copy");
        }
    }

    window.onbeforeunload = function(e) {
        if (!copied) {
            var dialogText = 'Nem másoltad még ki a privát kulcsodat!';
            e.returnValue = dialogText;
            return dialogText;
        }
    };
    </script>
{% endblock %}

{% block content %}
    <div id="content-main">
        <h1>Grat!</h1>

        <p>Sikeresen hozzáadtad a VPN igénylésedet. Amint elbírálják, értesítünk.</p>

        {% if private_key is not None %}
        <h2>Addig is, itt a privát kulcsod.</h2>
            <p><strong>Fontos:</strong> mentsd el, mert mi nem mentjük el.</p>
            <button onclick="copyPrivateKey()">Vágolapra helyezés</button>
            <pre id="privateKey">{{ private_key }}</pre>
        {% endif %}
    </div>
{% endblock %}